.footer {
	align-items: center;
	background-color: #8f57fd;
	display: flex;
	height: 100px;
	width: 100%;
}

.footer a {
	color: white;
	cursor: pointer;
	font-size: 14px;
	padding-left: 30px;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 600px) {
	.main__description--title {
		font-size: 30px;
	}

	.footer {
		align-items: flex-start;
		flex-direction: column;
	}
}
